<ion-view title="Add A New Goal">

  <ion-nav-buttons side="left">
   <!-- Toggle left side menu -->
   <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>




<ion-side-menus enable-menu-with-back-views="true">
  <!-- Left menu -->
  <ion-side-menu side="left" style="padding-top: 55px;" expose-aside-when="large">
	  <ion-content>
	   <side-menu></side-menu>
	  </ion-content>
  </ion-side-menu>

  <ion-side-menu-content>
	  <ion-nav-view animation="slide-left-right"></ion-nav-view>
	  
  </ion-side-menu-content>
</ion-side-menus>
</ion-view>
